
body{
  background: #f9f7f6;
  color: #404d5b;
  font-weight: 500;
  font-family: "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", "FontAwesome", sans-serif;
}
.Button {
  display: inline-block;
  padding: 20px;
  margin: 0;
  background-position: center center;
  background-repeat: no-repeat;
  color: #7a0715;
  text-shadow: none;
  vertical-align: middle;
  cursor: pointer;
  border: 0;
  -ms-transition: color 300ms ease, background-color 300ms ease;
  -webkit-transition: color 300ms ease, background-color 300ms ease;
  -moz-transition: color 300ms ease, background-color 300ms ease;
  -o-transition: color 300ms ease, background-color 300ms ease;
  transition: color 300ms ease, background-color 300ms ease;
}

.Button.Block {
  padding: 20px 40px;
  width: 300px;
  height: 200px;

}


